html,
body {
  height: 100%;
}

@import '~antd/dist/antd.css';

.app-conatiner{
  height: 100vh;
}

.app-header {
  background: rgb(255, 255, 255);
  display: flex;
  padding: 0 8px;
  justify-content: space-between;
}

.app-header.ant-layout-header {
  line-height: initial;
  height: auto;
  padding: 16px;
}

.app-sider {
  border-top: 1px solid rgb(230, 230, 230);
  background: rgb(255, 255, 255);
  overflow: auto;
}

.home-sider {
  padding: 8px;
  padding-top: 16px;
}

.location-list-sider .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.location-list-sider .ant-layout-sider-children .ant-layout-footer {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}
.logo .anticon {
  margin-right: 8px;
}
.logo > * {
  display: flex;
  align-self: center;
  justify-content: center;
}

.login-details {
  display: flex;
  text-align: end;
}

.login-details > div {
  margin-right: 8px;
}

.app-map {
  position: relative;
}

.ant-space,
.ant-collapse {
  width: 100%;
}

.filter-btn{
  width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeline-clock-icon {
  font-size: 16px;
}

.location-footer-info {
  border-bottom: 1px solid #d9d9d9;
  padding: 4px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-list {
  padding: 16px;
}

.location-title {
  font-weight: bold;
  cursor: pointer;
}

/* ant-override */
.ant-divider-horizontal {
  margin: 8px 0;
  border-top: none;
}

.ant-popover-inner-content {
  padding: 8px;
}

.ant-list-sm .ant-list-item {
  padding: 8px 0 0 0;
  border-bottom: none;
}

.ant-timeline-item-last {
  padding-bottom: 0;
}
.ant-timeline-item-last > .ant-timeline-item-content {
  min-height: auto;
}