html,
body {
  height: 100%;
}

@import '~antd/dist/antd.css';

.page-not-found {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-not-found h1 {
  font-size: 52px;
}

.app-conatiner {
  height: 100vh;
}

.app-header {
  background: rgb(255, 255, 255);
  display: flex;
  padding: 0 8px;
  justify-content: space-between;
}

.app-header.ant-layout-header {
  line-height: initial;
  height: auto;
  padding: 16px;
}

.app-sider {
  border-top: 1px solid rgb(230, 230, 230);
  background: rgb(255, 255, 255);
  overflow: hidden;
  display: flex;
}

.home-sider {
  padding: 8px;
  padding-top: 16px;
}

.home-sider .ant-layout-sider-children, 
.location-list-sider .ant-layout-sider-children {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.location-list-sider .ant-layout-sider-children .ant-layout-footer {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}
.logo .anticon {
  margin-right: 8px;
}
.logo > * {
  display: flex;
  align-self: center;
  justify-content: center;
}

.login-details {
  display: flex;
  text-align: end;
}

.login-details > div {
  margin-right: 8px;
}

.app-map {}

.ant-space,
.ant-collapse {
  width: 100%;
}

.filter-btn{
  width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeline-icon {
  font-size: 20px;
}

.timeline-icon-selected {
  font-size: 24px;
}

.location-footer-info {
  border-bottom: 1px solid #d9d9d9;
  padding: 4px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-list {
  padding: 16px;
  overflow: scroll;
  display: flex;
  flex-grow: 1;
}

.trip-list-meta {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 8px 0; 
}

.trip-list {
  overflow: scroll;
}

.location-title {
  font-weight: bold;
  cursor: pointer;
}

.location-popup-content {
  padding: 8px;
}

/* mapbox gl styles */
.mapboxgl-marker {
  cursor: pointer;
}
.mapboxgl-popup-content {
  padding: 0;
}

/* ant-override */
.ant-divider-horizontal {
  margin: 8px 0;
  border-top: none;
}

.ant-popover-inner-content {
  padding: 8px;
}

.ant-list-sm .ant-list-item {
  padding: 8px 0 0 0;
  border-bottom: none;
}

.ant-timeline-item-last {
  padding-bottom: 0;
}
.ant-timeline-item-last > .ant-timeline-item-content {
  min-height: auto;
}